{% extends 'base.html' %}
<title>{% block title %}Édition du profil de {{ user.username }}{% endblock title%}</title>

{% block content %} {% include 'partials/_navbar.html' %}
<section id="edit_ticket_container">
    <div id="ticket_edition_view_ticket">
        <h2>IMAGE ACTUELLE</h2>
        <img id="user_profile_picture" src="{{ user.profile_photo.url }}" alt="#" width="300" height="300">
    </div>
    <form method="post" class="ticket_edition_form" enctype="multipart/form-data">
        <h2>MODIFIER LES INFOS</h2>
        {% csrf_token %}
        {{ form.username }}
        {{ form.email }}
        <p class="user_update_uploader">{{ form.profile_photo }}</p>
        <button class="buttons_blue user_edit" type="submit">Publier</button>
    </form>
</section>
{% endblock content %}
